version: "3"
services:

  prometheus:
    image: prom/prometheus
    container_name: prometheus-master
    restart: always
    network_mode: host
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/:/promehteus/wal

  node_exporter:
    image: prom/node-exporter
    container_name: nodeexporter
    restart: always
    network_mode: host
    volumes:
      - /proc/:/host/proc:ro
      - /sys/:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    network_mode: host
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
