version: "3"
services:

  node_exporter:
    image: prom/node-exporter
    container_name: nodeexporter
    restart: always
    networks:
      - prom-proxy
    ports:
      - '9100'
    volumes:
      - /proc/:/host/proc:ro
      - /sys/:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'

  prom_speedtest:
    image: jraviles/prometheus_speedtest
    container_name: prom_speedtest  
    restart: always
    networks:
      - prom-proxy
    ports:
      - '9516'
  
  proxy:
    image: nginx
    container_name: proxy
    restart: always
    depends_on:
      - node_exporter
      - prom_speedtest
    networks:
      - prom-proxy
    ports:
      - '8085:80'
    volumes:
      - ./proxy/config/conf.d:/etc/nginx/conf.d
      - ./proxy/logs:/var/log/nginx

networks:
  prom-proxy:
    driver: bridge
    ipam:
      config:
        - subnet: 10.14.13.0/24
